@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'nanumsquare', serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
main{
    width: 60vh;
}
.top-logo{
    border-bottom: solid 1px #ddd;
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
}
.top-logo #home-logo{
    width: 100px;
    padding-bottom: 20px;
}
.findEmail-title{
    font-size: 48px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;

}
.findEmailbox input{
    border: none;
    margin: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    font-size: 30px;
    width: 100%;
}
.findEmailbox input:focus{
    outline: none;
    border-bottom: 1px solid #21c531;
}
.findEmail-btn{
    border: 0;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    display: block;
    padding: 15px;
    border-radius: 5px;
    background-color: #21c531;
    color: white;
    margin-top: 20px;
}
.findEmail-btn:active{
    transform: scale(0.95);
}