@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'nanumsquare', serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
main{
    width: 60vh;
}
.top-logo{
    border-bottom: solid 1px #ddd;
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
}
.top-logo #home-logo{
    width: 100px;
    padding-bottom: 20px;
}
.signUp-title{
    font-size: 48px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;

}
.signUp-area>div{
    font-size: 20px;
}
.signUp-area{
    margin-bottom: 20px;
}
.signUp-area input{
    border: none;
    margin: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    font-size: 30px;
    width: 100%;
}
.signUp-area #memberBirth{
    color: #777;
}
.signUp-area input:focus{
    outline: none;
    border-bottom: 1px solid #21c531;
}
.signUp-btn{
    margin-bottom: 5px;
    background-color: #21c531;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.signUp-btn:active{
    transform: scale(0.95);
}